<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Expense Tracker</a>
                <form class="d-flex" action="/logout">
                    <button class="btn btn-outline-danger" type="submit">Log Out</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="card d-flex align-items-center p-3 shadow" style="min-height: 30vh;">
        <div>
            <h1>Welcome to Expense tracker</h1>
        </div>
        <div class="d-flex gap-4 flex-grow-1 align-items-center">
            <div>
                <a href="/addExpense">
                    <button class="btn btn-primary">
                        Add Expense
                    </button>
                </a>
            </div>
            <div>

                <a href="/showExpense">
                    <button class=" btn btn-primary">
                        Expense List
                    </button>
                </a>
            </div>
        </div>
        <div>
            <p>Track and Manage your expenses effectively. Use the navigation links to add new expenses or view your
                expense history.</p>
        </div>
    </div>

    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>